<div class="dialog-header">
  <h2 class="ms-2 mt-2">Plan Details</h2>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="d-flex">
<div class="ms-2 me-2">
<button mat-raised-button color="primary" (click)="togglePlanInfo()">
  {{ showPlanInfo ? 'Hide Info' : 'Show Plan Info' }}
</button>
</div>

<div class="me-2">
<button mat-raised-button color="primary" (click)="toggleTrucks()">
  {{ showTrucks ? 'Hide Trucks' : 'Show Trucks Involved' }}
</button>
</div>

<div>
<button mat-raised-button color="primary" (click)="toggleMap()">
  {{ showMap ? 'Hide Map' : 'Show Locations Involved on Map' }}
</button>
</div>
</div>

<div *ngIf="showPlanInfo">
<div class="plan-info d-flex ms-2">
  <p class="ms-2"><strong>Algorithm Specs:</strong> {{ plan.algorithmSpec }} </p>
  <p class="ms-2"><strong>Timeslot Length:</strong> {{ plan.timeslotLength }} </p>
  <p class="ms-2"><strong>Status:</strong> {{ plan.planStatus }} </p>
  <p class="ms-2"><strong>Creation Date:</strong> {{ plan.createdAt }} </p>
</div>

</div>



<div *ngIf="showTrucks">
  <h3>Trucks Involved</h3>
  <table mat-table [dataSource]="plan.truckReadOnlyDtoList" class="mat-elevation-z8 full-width">
    <ng-container matColumnDef="truckId">
      <th mat-header-cell *matHeaderCellDef> Truck ID </th>
      <td mat-cell *matCellDef="let truck"> {{ truck.id }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let truck"> {{ truck.description }} </td>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef> Capacity </th>
      <td mat-cell *matCellDef="let truck"> {{ truck.capacity }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="truckColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: truckColumns;"></tr>
  </table>
</div>

<div *ngIf="showMap">
  <h3>Route</h3>
  <div id="map" style="height: 500px; margin-top: 16px;"></div>
</div>